header {
  padding: 32px;
}

header .container1 {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

header .profile {
  flex-shrink: 0;
}

header .profile img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

header .container1 > div:not(.profile) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

header .container1 > *:not(.profile) > p {
  font: var(--text-md);
  margin-bottom: 16px;
  max-width: 384PX;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}