/* página: styles/main.css */
/* canal: galeria de fotos */
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  padding-block: 32px;
}

main img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}