nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

#primary-menu {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  align-items: center;
}

#primary-menu li a {
  font: var(--text-md);
}

#primary-menu li img {
  display: block;
}

#primary-menu li:last-child img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 700px) {
  nav {
    flex-wrap: wrap;
    gap: 16px;
  }

  #primary-menu {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }
}